In [2]:
import pandas as pd
import requests

In [3]:
resp = requests.get("https://restcountries.eu/rest/v2/all")
df = pd.DataFrame(resp.json())

In [10]:
df.head(3)

,name,topLevelDomain,alpha2Code,alpha3Code,callingCodes,capital,altSpellings,region,subregion,population,...,timezones,borders,nativeName,numericCode,currencies,languages,translations,flag,regionalBlocs,cioc
0,Afghanistan,[.af],AF,AFG,[93],Kabul,"[AF, Afġānistān]",Asia,Southern Asia,27657145,...,[UTC+04:30],"[IRN, PAK, TKM, UZB, TJK, CHN]",افغانستان,004,"[{'code': 'AFN', 'name': 'Afghan afghani', 'sy...","[{'iso639_1': 'ps', 'iso639_2': 'pus', 'name':...","{'de': 'Afghanistan', 'es': 'Afganistán', 'fr'...",https://restcountries.eu/data/afg.svg,"[{'acronym': 'SAARC', 'name': 'South Asian Ass...",AFG
1,Åland Islands,[.ax],AX,ALA,[358],Mariehamn,"[AX, Aaland, Aland, Ahvenanmaa]",Europe,Northern Europe,28875,...,[UTC+02:00],[],Åland,248,"[{'code': 'EUR', 'name': 'Euro', 'symbol': '€'}]","[{'iso639_1': 'sv', 'iso639_2': 'swe', 'name':...","{'de': 'Åland', 'es': 'Alandia', 'fr': 'Åland'...",https://restcountries.eu/data/ala.svg,"[{'acronym': 'EU', 'name': 'European Union', '...",
2,Albania,[.al],AL,ALB,[355],Tirana,"[AL, Shqipëri, Shqipëria, Shqipnia]",Europe,Southern Europe,2886026,...,[UTC+01:00],"[MNE, GRC, MKD, KOS]",Shqipëria,008,"[{'code': 'ALL', 'name': 'Albanian lek', 'symb...","[{'iso639_1': 'sq', 'iso639_2': 'sqi', 'name':...","{'de': 'Albanien', 'es': 'Albania', 'fr': 'Alb...",https://restcountries.eu/data/alb.svg,"[{'acronym': 'CEFTA', 'name': 'Central Europea...",ALB

In [ ]:
d

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 24 columns):
name              250 non-null object
topLevelDomain    250 non-null object
alpha2Code        250 non-null object
alpha3Code        250 non-null object
callingCodes      250 non-null object
capital           250 non-null object
altSpellings      250 non-null object
region            250 non-null object
subregion         250 non-null object
population        250 non-null int64
latlng            250 non-null object
demonym           250 non-null object
area              240 non-null float64
gini              153 non-null float64
timezones         250 non-null object
borders           250 non-null object
nativeName        250 non-null object
numericCode       249 non-null object
currencies        250 non-null object
languages         250 non-null object
translations      250 non-null object
flag              250 non-null object
regionalBlocs     250 non-null object
cioc              247 non-null object
dtypes: float64(2), int64(1), object(21)
memory usage: 47.0+ KB

In [6]:
df.loc[df.population > 1000000000, ['name','population']]

      name  population
48   China  1377422166
104  India  1295210000

In [5]:
df.head()

,alpha2Code,alpha3Code,altSpellings,area,borders,callingCodes,capital,cioc,currencies,demonym,...,name,nativeName,numericCode,population,region,regionalBlocs,subregion,timezones,topLevelDomain,translations
0,AF,AFG,"[AF, Afġānistān]",652230.0,"[IRN, PAK, TKM, UZB, TJK, CHN]",[93],Kabul,AFG,"[{'code': 'AFN', 'name': 'Afghan afghani', 'sy...",Afghan,...,Afghanistan,افغانستان,004,27657145,Asia,"[{'acronym': 'SAARC', 'name': 'South Asian Ass...",Southern Asia,[UTC+04:30],[.af],"{'de': 'Afghanistan', 'es': 'Afganistán', 'fr'..."
1,AX,ALA,"[AX, Aaland, Aland, Ahvenanmaa]",1580.0,[],[358],Mariehamn,,"[{'code': 'EUR', 'name': 'Euro', 'symbol': '€'}]",Ålandish,...,Åland Islands,Åland,248,28875,Europe,"[{'acronym': 'EU', 'name': 'European Union', '...",Northern Europe,[UTC+02:00],[.ax],"{'de': 'Åland', 'es': 'Alandia', 'fr': 'Åland'..."
2,AL,ALB,"[AL, Shqipëri, Shqipëria, Shqipnia]",28748.0,"[MNE, GRC, MKD, KOS]",[355],Tirana,ALB,"[{'code': 'ALL', 'name': 'Albanian lek', 'symb...",Albanian,...,Albania,Shqipëria,008,2886026,Europe,"[{'acronym': 'CEFTA', 'name': 'Central Europea...",Southern Europe,[UTC+01:00],[.al],"{'de': 'Albanien', 'es': 'Albania', 'fr': 'Alb..."
3,DZ,DZA,"[DZ, Dzayer, Algérie]",2381741.0,"[TUN, LBY, NER, ESH, MRT, MLI, MAR]",[213],Algiers,ALG,"[{'code': 'DZD', 'name': 'Algerian dinar', 'sy...",Algerian,...,Algeria,الجزائر,012,40400000,Africa,"[{'acronym': 'AU', 'name': 'African Union', 'o...",Northern Africa,[UTC+01:00],[.dz],"{'de': 'Algerien', 'es': 'Argelia', 'fr': 'Alg..."
4,AS,ASM,"[AS, Amerika Sāmoa, Amelika Sāmoa, Sāmoa Amelika]",199.0,[],[1684],Pago Pago,ASA,"[{'code': 'USD', 'name': 'United State Dollar'...",American Samoan,...,American Samoa,American Samoa,016,57100,Oceania,[],Polynesia,[UTC-11:00],[.as],"{'de': 'Amerikanisch-Samoa', 'es': 'Samoa Amer..."

In [8]:
df.loc[df.name.str.len() < 5, 'name']

46     Chad
58     Cuba
75     Fiji
91     Guam
108    Iraq
137    Mali
163    Niue
168    Oman
175    Peru
226    Togo
Name: name, dtype: object

### Display countires that share border with India

In [8]:
def isIndianBorder(lc):
    for c in lc:
         if c == "IND":
            return True
    
    return False

In [ ]:
def hasIndiaAsBorder(lc):
    return 'IND' in lc

In [12]:
df.loc [ df['borders'].apply(isIndianBorder) , ['name','borders']]

           name                                            borders
18   Bangladesh                                         [MMR, IND]
25       Bhutan                                         [CHN, IND]
48        China  [AFG, BTN, MMR, HKG, IND, KAZ, PRK, KGZ, LAO, ...
153     Myanmar                          [BGD, CHN, IND, LAO, THA]
156       Nepal                                         [CHN, IND]
169    Pakistan                               [AFG, CHN, IND, IRN]
213   Sri Lanka                                              [IND]

In [13]:
df.loc [ df['borders'].apply(lambda l: 'IND' in l) , ['name','borders']]

           name                                            borders
18   Bangladesh                                         [MMR, IND]
25       Bhutan                                         [CHN, IND]
48        China  [AFG, BTN, MMR, HKG, IND, KAZ, PRK, KGZ, LAO, ...
153     Myanmar                          [BGD, CHN, IND, LAO, THA]
156       Nepal                                         [CHN, IND]
169    Pakistan                               [AFG, CHN, IND, IRN]
213   Sri Lanka                                              [IND]

In [26]:
df.loc[(df['population'] / df['area']).nsmallest(10).index, ['name']]

                                  name
30                       Bouvet Island
98   Heard Island and McDonald Islands
8                           Antarctica
80         French Southern Territories
88                           Greenland
73         Falkland Islands (Malvinas)
177                           Pitcairn
246                     Western Sahara
148                           Mongolia
154                            Namibia

In [27]:
df['density'] = round(df['population'] / df['area'])

In [28]:
df['density'].head()

0     42.0
1     18.0
2    100.0
3     17.0
4    287.0
Name: density, dtype: float64

In [30]:
df.drop(columns=['density'], inplace=True)